// 颜色
.c-333 {
    color: #333;
}

.c-ccc {
    color: #ccc;
}

// 背景颜色
.b-c-ccc {
    background-color: rgb(240, 240, 240);
}

// 字体大小
.f-s12 {
    font-size: 12px;
}

.f-s14 {
    font-size: 14px;
}

// flex 布局
.flex1-2c {
    display: flex;
    justify-content: center;
    align-items: center;
}

// margin padding
.p10 {
    padding: 10px
}